*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-image: url("bitmap.png");
      background-size: cover;
      background-attachment: fixed;
      position: static;
      color:rgb(250, 165, 255);
      text-shadow: 0 4px 20px 40px rgb(37, 4, 68);
    }

    a
    {
        text-decoration: none;
        color: inherit;
    }
    
    .NavBar
    {
        float:right;
        padding:10px;
        list-style-type: none;
        font-size:large;
        display:flex;
    }
    
    .nav
    {
      padding: 12px;
      cursor: pointer;
      text-shadow: rgb(255, 91, 247) 1px 0 10px;
      transition: background-color 1s;
      transition: border 0.2s;
    }
    .head
    {
        margin-top: 12px;
        margin-left: 12px;
        position: relative;
    }

    @keyframes logoAnim {
        from {box-shadow: 0 0 0px px blueviolet;}
        to {box-shadow: 0 0 20px 5px blueviolet;}
      }
    
    .logo
    {
        background-color: rgba(40, 18, 92, 0.5);
        width:150px;
        font-size: small;
        float:left;
        text-align: center;
        padding-top:25px;
        padding-bottom:25px;
        padding-left:25px;
        padding-right: 30px;
        border-radius:20px;
        margin-left:20px;
        border: 3px solid rgba(196, 245, 255, 0.76);
        box-shadow: 0 0 0px 0px blueviolet;
        animation-name: logoAnim;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
      

section
{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height: 100vh;
  width: 100%;
}

.weatherMain
{
  background-color: rgba(40, 18, 92, 0.5);
  position: relative;
  width: 400px;
  height: 500px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  color:rgb(232, 223, 255,0.8);
  border-radius: 12px;
  border: 3px solid rgba(196, 245, 255, 0.76);
  box-shadow: 0 0 20px 5px blueviolet;
}

.weth
{
    text-align: center;
    position: absolute;
    top:40px;
    font-size: xx-large;
}

.input
{
    text-align: center;
    position: absolute;
    top:120px;
    font-size: xx-large;
    
    left:5%;
    margin-bottom:20px;
}

#fahrenpara 
{
    position:absolute;
    top:40%;
    left:20%
}
#celsiuspara
{
    position:absolute;
    top:45%;
    left:20%
}

#weatherInput
{
    height: 40px;
    position: absolute;
    border: 3px solid rgba(196, 245, 255, 0.76);
    box-shadow: 0 0 20px 5px blueviolet;
    background-color: rgb(146, 124, 212,0.5);
    color: antiquewhite;
    margin-bottom: 15px;
    font-size:medium;
    padding: 12px;
    width:80px;
    left:10%;
    top:55%;
    margin-left:30%;
}
button
{
  
  padding: 10px;
  position:absolute;
  top:75%;
  left:40%;
  font-size: medium;
  color:rgba(250, 235, 215, 0.5);
  background-color: rgb(146, 124, 212,0.5);
  border:none;
  border-radius: 5px;
  cursor:pointer;
  border: 3px solid rgba(196, 245, 255, 0.76);
  box-shadow: 0 0 0 0 blueviolet;
  transition: background-color 0.5s;
 
}

button:hover
{
    /*background-color: rgb(58, 46, 92);*/
    color: rgb(221, 185, 255);
    box-shadow: 0 0 20px 5px blueviolet;
    
}

button:active
{
    background-color: rgb(255, 255, 255);
   
}

.nav:hover
{
    border: 3px solid rgba(196, 245, 255, 0.76);
    box-shadow: 0 0 20px 5px blueviolet;
    border-radius:12px;
    text-shadow: rgb(255, 91, 247) 1px 0 10px;
}